


/**
 * Uploader
 */
.ds-exporter-importMessages{
    width: 600px;
    background-color: #F9F9FA;
    box-shadow: inset 0px 0px 4px rgba(188,188,188,0.7);
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
}

.ds-exporter-uploadControls {
    width: 600px;
    text-align: right;
    padding: 5px;   
}


.ds-exporter-uploadControls .ds-exporter-uploadBrowse {
    display: inline-block;
    overflow: hidden;
    height: 1.65em;
    width: 6em;
    cursor: default;
    padding: 6px 4px 0px 22px;
    background: url("../../../shared/images/folder-icon-22x22.png") 5px center no-repeat,  -moz-linear-gradient(top,  #F9F9FA,  #ededed);
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}

.ds-exporter-uploadControls .ds-exporter-uploadBrowse-dim {
    background: url("../../../shared/images/folder-icon-22x22.png") 5px center no-repeat, #F9F9FA;
    border: 1px solid transparent;
    opacity: 0.4;
}

.ds-exporter-uploadControls .ds-exporter-uploadBrowse input {
    position: relative;
    overflow: hidden;
    float: right;

    /* Make the real button big enough to cover the fake button */
    height: 3em;
    bottom: 2em;
    letter-spacing: 5px;
    left: 10px;
    
    /* Make the button invisible */
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.ds-exporter-uploadControls .ds-exporter-uploadClear {
    background: url("../../../shared/images/trash-icon-22x22-blue.png") 5px center no-repeat;
    padding: 7px 7px 7px 26px;
    margin-right: 10px;
    position: relative;
    top: -10px;
    height: 1.65em;
    
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.ds-exporter-uploadControls .ds-exporter-uploadClear-dim {
    color: #000;
    text-decoration: none;
    background: url("../../../shared/images/trash-icon-22x22-black.png") 5px center no-repeat;
    opacity: 0.4;
}

.ds-exporter-uploadControls .ds-exporter-uploadClear:hover {
    border-radius: 3px 3px 3px 3px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 0px 1px rgba(188,188,188,0.7);
    
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}

/**
 * Export Formats
 */
 
.ds-exporter-formatGroup {
    width:680px;
}

.ds-pdfExporter-exportInfo {
    border-bottom: solid 2px #E6E7E8;
    /*box-shadow: 0px 0px 1px 0px #fff;*/
    padding: 10px 25px 10px 10px;
    position: relative;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ds-pdfExporter-exportInfo:hover {
    background-color: #F9F9FA;
    border-bottom: 2px solid transparent;
    cursor:pointer;
    border-radius: 6px;
}



/* The name of the export format. */
.ds-exportInfo-name {
    font-weight: bold;
    color: #1C75BC;
    display:block;
    position:relative
}

/* Export file format options and controls. */
.ds-pdfExporter-pdfExportOptions {
    background-color: #F9F9FA;
    box-shadow: inset 0px 0px 4px rgba(188,188,188,0.7);
    position: relative;
    padding-top: 10px;
}

.ds-exporter-formatGroup .ds-exporter-accordion {
    width:485px;
}

.ds-pdfExporter-exportDetails {
    background-color: #F9F9FA;
    box-shadow: inset 0px 0px 4px rgba(188,188,188,0.7);
    position: relative;
/**
 * Hide the export options.
 * APPLY this style to hide the export options.
 */
.ds-pdfExporter-pdfExportOptions-hidden{

    overflow: hidden;
    height: 0px;
}

/* Format export options. */
.ds-exporter-exportOptions {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ds-pdfExporter-pdfExportOptions form  label{
    width: 50%;
    font-weight: bold;
    margin-right: 10px;
}

.ds-pdfExporter-pdfExportOptions form input[type="checkbox"] {
    margin-right: 3px;
}

/* Format export controls and status text. */
.ds-pdfExporter-pdfExportOptions .ds-exportControls-trigger-exportControl{
    width: 144px;
    display:block;
    background: url("../../../shared/images/export-green-22x22.png") 5px center no-repeat,  -moz-linear-gradient(top,  #fff,  #ededed);
    padding: 7px;
    margin: 10px auto;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-progress-text {
    text-align:center;
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-progress-spinner{
    position:relative;
    top: 3px;
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links ul {
    position: relative;
    width: 40em;
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links li {
    display:block;
    padding: 5px 0 5px 0px;
    text-align:center;
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links {
    width: 53%;
    margin: 0 auto;
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links  a{
    -moz-transition: all 0.2s ease;
    width: 40%;
    position: relative;
    display:inline-block;
    padding: 3px 0px 3px 26px;
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links  a:hover{
    border-radius: 3px 3px 3px 3px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 0px 1px rgba(188,188,188,0.7);
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links  a:active{
    border-radius: 3px 3px 3px 3px;
    background-color: #000;
    color: #fff;
    box-shadow: inset 0px 0px 1px rgba(188,188,188,0.7);
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links .ds-exportControls-complete-download {
    background: url("../../../shared/images/download-icon-18x18.png") 5px center no-repeat;
}

.ds-pdfExporter-pdfExportOptions .ds-exportControls-complete-links .ds-exportControls-complete-restart {
    background: url("../../../shared/images/reset-icon-18x18.png") 5px center no-repeat;
    float:right;
}


/**
 * jQuery overrides 
 */

.ds-exporter-formatGroup .ui-state-active {
    /* APPLY this style when format type is selected. */
    /* No styles for this, but there is an after pseudo element style. */
}

/* Create a downward arrow by rotating a square 45 deg.*/    
.ds-exporter-formatGroup .ui-state-active:after {
    content: "";
	position: absolute;
	bottom: -11px; /* position it */
    right: 50%;
    width: 15px;
    height: 15px;
    background-color: #eceef2; /* Create a square and rotate. */
    -moz-transform: rotate(45deg); 
    transform:rotate(45deg);
    border-right: 3px solid #E8E8E8;
    border-bottom: 3px solid #E8E8E8;
    z-index: 1; /* Position on top so the arrow is visible when applied. */
    
    -moz-transition: all 0.3s ease; /* specify a transition otherwise the hover style doesn't look right */
    transition: all 0.3s ease;
}

.ds-exporter-formatGroup .ui-state-active:hover:after {
    background-color: #F9F9FA; 
    -moz-transition: all 0.3s ease; /* specify a transition otherwise the hover style doesn't look right */
    transition: all 0.3s ease;
}

.ds-exporter-formatGroup .ui-accordion-content {
    padding: 20px;
}

.ds-exporter-formatGroup .ui-state-focus {
    outline: 0; /* Remove the dotten outline from appearing on accordion focus. */
}

