<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Decapod Capture</title>
        
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-reset.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-text.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-theme-coal.css" />
        <link rel="stylesheet" type="text/css" href="../css/Capture.css" />
        
        <!-- Required JavaScript modules for the Capture component. -->
        <!-- jQuery -->
        <script src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script src="../../../infusion/src/webapp/lib/jquery/ui/js/ui.core.js"></script>
        <script src="../../../infusion/src/webapp/lib/jquery/ui/js/ui.draggable.js"></script>
        <script src="../../../infusion/src/webapp/lib/jquery/plugins/delegate/js/jquery.delegate.js"></script>
        <script src="../../../infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        
        <!-- Fluid -->
        <script src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script src="../../../infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        
        <!-- Reorderer -->
        <script src="../../../infusion/src/webapp/components/reorderer/js/GeometricManager.js"></script>
        <script src="../../../infusion/src/webapp/components/reorderer/js/Reorderer.js"></script>
        <script src="../../../infusion/src/webapp/components/reorderer/js/ImageReorderer.js"></script>
        
        <!-- Renderer -->
        <script src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        
        <!-- Decapod components -->
        <script src="../js/Capture.js"></script>
    </head>
    
    <body class="flc-capture fl-theme-coal">
        <div>
            <h1>Decapod</h1>
        </div>
        
        <div class="fl-col-mixed">
            <div class="fl-col-fixed fl-force-left">
            <form action="#" id="reorder-images-form">
                <ul class="flc-imageReorderer fl-grid">
                    <li class="flc-imageReorderer-item">
                        <span class="flc-imageReorderer-label">
                            <span class="flc-imageReorderer-itemIndex"></span>
                            Unfixed
                        </span>
                        <img class="flc-imageReorderer-image" src="../../server/testData/noImage-thumb.jpg">
                    </li>
                </ul>
            </form>
            </div>
            
            <div class="fl-col-flex">
                <div class="flc-capture-previewArea">
                    <a class="flc-capture-button-fix fl-button-left"><span class="fl-button-inner">Fix Image</span></a>
                    <a class="flc-capture-button-compare fl-button-left"><span class="fl-button-inner">Compare before/after</span></a>
                    <a class="flc-capture-button-export fl-button-left"><span class="fl-button-inner">Export to PDF</span></a>
                    <br /><br />
                    <img class="flc-capture-image-preview" src="../../server/testData/noImage.jpg">
                </div>
            </div>
        </div>
        
        <div>
            <a type="" name="" value="" class="flc-capture-button-takePicture fl-button-left"><span class="fl-button-inner">Take picture</span></a>
        </div>
        
        <!-- Initializing the Capture component. -->
        <script>
            /*global fluid*/
            fluid.capture(".flc-capture", {serverOn:false, cameraOn:false});
        </script>
    </body>
</html>
