<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Decapod Capture</title>
        
        <!-- Required JavaScript modules for the Capture component. -->
        <!-- jQuery -->
        <script src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script src="../../../infusion/src/webapp/lib/jquery/ui/js/ui.core.js"></script>
        <script src="../../../infusion/src/webapp/lib/jquery/ui/js/ui.draggable.js"></script>
        <script src="../../../infusion/src/webapp/lib/jquery/plugins/delegate/js/jquery.delegate.js"></script>
        <script src="../../../infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        
        <!-- Fluid -->
        <script src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script src="../../../infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        
        <!-- Reorderer -->
        <script src="../../../infusion/src/webapp/components/reorderer/js/GeometricManager.js"></script>
        <script src="../../../infusion/src/webapp/components/reorderer/js/Reorderer.js"></script>
        <script src="../../../infusion/src/webapp/components/reorderer/js/ImageReorderer.js"></script>

        <!-- Renderer -->
        <script src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        
        <!-- Decapod components -->
        <script src="../js/Capture.js"></script>
    </head>
    
    <!-- TODO Remove BR tags when implementing styling -->
    <body class="flc-capture">
        <h1>Decapod</h1>
        <form action="#" id="reorder-images-form" class="flc-imageReorderer">
            <div class="flc-imageReorderer-item">
                <span class="flc-imageReorderer-label">Unfixed</span><br>
                <img class="flc-imageReorderer-image"><br>
                <a href="#" class="flc-imageReorderer-button-delete">Delete</a>
            </div>
        </form>
        
        <div>
            <div>
                <a href="#" class="flc-capture-button-fix">Fix Image</a>
                <a href="#" class="flc-capture-button-compare">Compare Before/After</a>
                <a href="#" class="flc-capture-button-export">Export to PDF</a>
                <img class="flc-capture-image-preview">
            </div>
        </div>
        <div>
            <a href="#" class="flc-capture-button-takePicture">Take picture</a>
        </div>
        
        <!-- Initializing the Capture component. -->
        <script>
            /*global fluid*/
            fluid.capture(".flc-capture");
        </script>
    </body>
</html>
