<button class="dc-exportType-controls-exportControl ds-exporter-exportButton ds-shared-grey-button">Export button</button>
<div class="ds-exporter-exportProgress-text">
    <div class="ds-shared-spinner ds-exporter-exportProgress-spinner">
        <div class="ds-shared-spinner-outerCircle"></div>
        <div class="ds-shared-spinner-innerCircle"></div>
        <div class="ds-shared-spinner-dot"></div>
    </div>
    <span class="dc-exportType-controls-progressMessage">Export progress text</span>
</div>

<div class="ds-exporter-exportLinks">
    <a class="dc-exportType-controls-download ds-exporter-exportDownload" href="">Download link here</a>
    <a class="dc-exportType-controls-restart ds-exporter-exportStartOver" href="">Start over link here</a>
</div>