<!-- Export format name and description -->
<div class="ds-exporter-formatDescriptionBlock ds-shared-indent2">
    <label class="dc-exportType-name ds-exporter-formatLabel">Format type label: </label>
    <div class="dc-exportType-description ds-exporter-formatDescription">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
</div>
<!-- Export format's options-->
<div class="dc-exportType-pdfOptions dc-pdfExporter-pdfOptions ds-exporter-exportOptions ds-shared-indent2"></div>
<div class="dc-exportType-controls dc-pdfExporter-controls"></div>
