<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Decapod Import</title>
        
        <link rel="stylesheet" type="text/css" href="../../../lib/infusion/framework/fss/css/fss-reset.css" />
        <link rel="stylesheet" type="text/css" href="../../../lib/infusion/framework/fss/css/fss-layout.css" />       
        <link rel="stylesheet" type="text/css" href="../../../shared/css/decapod.css" />
        <link rel="stylesheet" type="text/css" href="../css/exporter.css" />
        
        <!-- Required JavaScript modules for the Import component. -->
        <script type="text/javascript" src="../../../lib/infusion/MyInfusion.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodContext.js"></script>
        <script type="text/javascript" src="../js/importStatusDemands.js"></script>
        <script type="text/javascript" src="../js/importStatus.js"></script>
        <script type="text/javascript" src="../js/pdfExporter.js"></script>
        <script type="text/javascript" src="../js/exporterDemands.js"></script>
        <script type="text/javascript" src="../js/exporter.js"></script>

    </head>
    
    <body>
    
        
        <section class="dc-exporter ds-shared-decapod">
            
            <!-- NAVIGATION BAR -->
            <nav class="ds-shared-navigationBar">
                <ul class="ds-shared-navigationBar-flatList">
                    <li><a class="ds-shared-navigationBar-currentBreadcrumb" href="">Decapod 0.5</a></li>
                </ul>
            </nav>

            <!-- FOOTER -->
            <footer>
            
            </footer>

            <!-- DECAPOD EXPORT INTERFACE -->
            <section class="ds-shared-mainPane">
                <header>
                    <h1>Exporter Title</h1>
                </header>
                
                <div class="dc-exporter-upload ds-exporter-upload ds-shared-indent1">
                    <div class="dc-exporter-importMessages ds-exporter-upload-messages">
                        <div class="dc-exporter-statusToggle-instructions">
                            <p>Instructions go here.<br />
                                <ul>
                                    <li>Later replaced by upload status messages.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                                    <li>Cras volutpat, lectus eu aliquam consequat, metus nisi aliquam quam,</li>
                                    <li>id molestie odio dui non risus. Donec suscipit nunc vitae lectus</li>
                                </ul>
                            </p>
                        </div>
                        <div class="dc-exporter-importStatus dc-exporter-statusToggle-status">
                            <p class="dc-importStatus-renderer-statusMessage">No Statuses</p>
                        </div>
                    </div>
                    
                    <div class="ds-exporter-uploadControls">
                        <a class="dc-exporter-uploadClear ds-exporter-uploadClear ds-exporter-uploadClear-dim" href="">Clear link text</a>
	                    <span class="dc-exporter-uploadBrowse ds-shared-grey-button ds-exporter-uploadBrowse">
	                        <span class="flc-uploader-button-browse-text ds-exporter-uploadBrowseText">Browse files</span>
	                    </span>
                    </div>
                </div>
                
                <header>
                    <h1>Exporter format types go below</h1>
                </header>
                
                <div class="dc-exporter-formatGroup ds-exporter-formatGroup">
                    <h2 class="ds-shared-indent1">Group</h2>
                    
                    <div class="dc-exporter-imagePDF">   

                        <!-- Export format name and description -->
                        <div class="ds-exporter-formatDescriptionBlock ds-shared-indent2">
                            <label class="dc-exporter-formatLabel ds-exporter-formatLabel">Format type label: </label>
                            <div class="dc-exporter-formatDescription ds-exporter-formatDescription">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                        
                        <!-- Export format's options-->
                        <div class="ds-exporter-exportOptions ds-shared-indent2">
                            <form class="dc-exporter-exportOptions-form ds-exporter-exportOptions-form">
                                <ul>
                                    <!-- List for user selectable options -->
                                    <li>
                                        <label for="dc-exporter-field1">Form options go here</label>
                                        <input id="dc-exporter-field1" name="field1" type=text value="300">dpi
                                    </li>
                                    <li>
                                        <label for="dc-exporter-field2">Choose a fruit:</label>
                                        <select id="dc-exporter-field2">
                                          <option value="apples">Apple</option>
                                          <option value="oranges">Orange</option>
                                          <option value="pineapple">Pineapple</option>
                                          <option value="tomato">Tomato</option>
                                        </select>
                                    </li>
                                    <li>
                                        <label for="dc-exporter-field3">Radio</label>
                                        <input id="dc-exporter-field3" name="example" type="radio" value="apples" checked="checked" /> Apple 
                                        <input id="dc-exporter-field3" name="example" type="radio" value="oranges" /> Orange 
                                    </li>
                                    
                                    <li>
                                        <label for="dc-exporter-field4">Checkbox</label>
                                        <input id="dc-exporter-field4" type="checkbox" />Apple
                                        <input id="dc-exporter-field4" type="checkbox" />Orange
                                    </li>
                                    
                                    <li>
                                        <label for="dc-exporter-field5">Slider</label>
                                        A slider should go here.
                                    </li>
                                </ul>
                            </form>
                        
                            <button class="dc-exporter-exportButton ds-exporter-exportButton ds-shared-grey-button">Export button</button>
                            <div class="dc-exporter-exportProgress ds-exporter-exportProgress-text">
                                <div class="ds-shared-spinner ds-exporter-exportProgress-spinner">
                                    <div class="ds-shared-spinner-outerCircle"></div>
                                    <div class="ds-shared-spinner-innerCircle"></div>
                                    <div class="ds-shared-spinner-dot"></div>
                                </div>
                                Export progress text
                            </div>
                            
                            <div class="ds-exporter-exportLinks">
                                <a class="dc-exporter-exportDownload ds-exporter-exportDownload" href="">Download link here</a></li>
                                <a class="dc-exporter-exportStartOver ds-exporter-exportStartOver" href="">Start over link here</a></li>
                            </div>
                        </div>
                    </div>
                    <div class="dc-exporter-ocrPDF"></div>
                    <div class="dc-exporter-tracedPDF"></div>
                                       
                    

                </div>
            
            </section>
                        
            <script>
                decapod.exporter(".dc-exporter");
            </script>
        </section>
    </body>
</html>
