<form class="dc-exporter-exportOptions-form ds-pdfExporter-pdfExportOptions-form">
        <!-- List for user selectable options -->
        <p>
            <label for="dc-exporter-field1" class="dc-pdfExportOptions-documentResolutionLabel">Form options go here</label>
            <input id="dc-exporter-field1" class="dc-pdfExportOptions-documentResolution" name="field1" type=text value="300" disabled="disabled">dpi
        </p>
        <p>
            <span class="dc-pdfExportOptions-documentDimensionsLabel"></span>
            <span class="dc-pdfExportOptions-documentDimensions"></span>
        </p>
</form>
