<div class="dc-exporter-formatTemplate">   
    <!-- Export format name and description -->
    <div class="ds-exporter-formatDescriptionBlock ds-shared-indent2">
        <label class="dc-pdfExporter-formatName ds-exporter-formatLabel">Format type label: </label>
        <div class="dc-pdfExporter-formatDescription ds-exporter-formatDescription">Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    
    <!-- Export format's options-->
    <div class="ds-exporter-exportOptions ds-shared-indent2">
        <form class="dc-exporter-exportOptions-form ds-exporter-exportOptions-form">
            <ul>
                <!-- List for user selectable options -->
                <li>
                    <label for="dc-exporter-field1" class="dc-pdfExporter-resolutionLabel">Form options go here</label>
                    <input id="dc-exporter-field1" class="dc-pdfExporter-resolution" name="field1" type=text value="300">dpi
                </li>
                <li>
                    <span class="dc-pdfExporter-dimensionsLabel"></span>
                    <span class="dc-pdfExporter-dimensions"></span>
                </li>
            </ul>
        </form>
    
        <button class="dc-pdfExporter-exportButton ds-exporter-exportButton ds-shared-grey-button">Export button</button>
        <div class="dc-exporter-exportProgress ds-exporter-exportProgress-text">
            <div class="ds-shared-spinner ds-exporter-exportProgress-spinner">
                <div class="ds-shared-spinner-outerCircle"></div>
                <div class="ds-shared-spinner-innerCircle"></div>
                <div class="ds-shared-spinner-dot"></div>
            </div>
            Export progress text
        </div>
        
        <div class="ds-exporter-exportLinks">
            <a class="dc-exporter-exportDownload ds-exporter-exportDownload" href="">Download link here</a>
            <a class="dc-exporter-exportStartOver ds-exporter-exportStartOver" href="">Start over link here</a>
        </div>
    </div>
</div>