<form class="dc-exporter-exportOptions-form ds-exporter-exportOptions-form">
    <ul>
        <!-- List for user selectable options -->
        <li>
            <label for="dc-exporter-field1" class="dc-exportType-pdfOptions-resolutionLabel">Form options go here</label>
            <input id="dc-exporter-field1" class="dc-exportType-pdfOptions-resolution" name="field1" type=text value="300">dpi
        </li>
        <li>
            <span class="dc-exportType-pdfOptions-dimensionsLabel"></span>
            <span class="dc-exportType-pdfOptions-dimensions"></span>
        </li>
    </ul>
</form>