.flc-capture .content {
    background: #fff;
}

.fl-container-progress > .ui-dialog-titlebar {
    display: none;
}

.flc-capture-progress-message {
    position: absolute;
    top: 50%;
    margin-top: -0.9em;
    margin-left: 0.8em;
}

.fl-message-confirm {
    background-color: #bbfabb;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 1.2em;
    display: none;
}

.fl-theme-coal h1 {
    margin-left: 2em;
    border-bottom: none;
}

.fl-theme-coal .fl-grid {
    border: none;
    padding: 5px;
    height: 650px;
    overflow: auto;
    background-color: #fff;

}

.fl-theme-coal .fl-grid li {
    background-color:#fff;
}

.ui-state-disabled span {
    cursor: default;
}

.fl-theme-coal .flc-capture-thumbItem {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.flc-capture-button-delete{
    margin-right: 8px;
    padding-left: 20px;
    background-image: url(./images/remove.png);
    background-repeat: no-repeat;

}

.fl-reorderer-movable-default .flc-capture-button-delete {
    text-align:right;
    display: none;
}

.fl-theme-coal .fl-reorderer-movable-selected {
    outline: 5px solid #6dacc6;

}

.flc-capture-label-index {
    display: block;
    float: left;
    text-align: left;
    padding-left: 5px;
}

.flc-capture-label-item {
    display: block;
    color: #fff;
    background-color:#717171;
    height: 16px;
    text-align: right;
    padding-right: 5px;
}

.fl-capture-element-hidden {
    display: none;
}

.fl-theme-coal .fl-col-fixed {
    width: 232px;
}

.fl-theme-coal .fl-reorderer-dropMarker {
    width: 200px;
    height: 2px;
}

.flc-capture-image-preview {
    margin-top: 5px;
    height: 613px;
}

.flc-capture-message-noImage {
    font-size: large;
    position: absolute;
    top: 42%;
    left: 20%;
}

.flc-capture button.flc-capture-button-takePicture {
    color: #000;
    width: 8.4em;
    font-size: 1.8em;
    height: 64px;
    border-color: #2A3990;
    border-width: 1px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #6e9f62;
    border-color: #006838;
    background-image: url(./images/camera.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
}
