body {
background-image: url(./images/background.gif);
}

.flc-capture {
    width: 1100px;
    -moz-box-shadow: 10px 10px 9px #999;
    margin-left:20px;
    margin-top: 2px;

    /* See FLUID-3518
    margin-left: auto;
    margin-right: auto;*/
}


.content {
    background: #fff;
}

.footer {
    background-color: #333333;
    background-image: url(../../../infusion/src/webapp/framework/fss/images/themes/coal/widget-bg.png);
    margin-top:2px;
}

.header {
    background-color: #333333;
    background-image: url(../../../infusion/src/webapp/framework/fss/images/themes/coal/widget-bg.png);
    height:85px;
    margin-bottom:2px;
    padding-top:5px;
}

.fl-decapodBadge{
}

.fl-decapodBadge img {
    margin-left: 15px;
    float:left;
}

.fl-decapodBadge h1 {
    font-size: 2.8em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 20px;
    border-bottom: none;
    color: #fff;
}

.header .fl-decapod-menu {
    color: #fff;
    margin-right: 1em;
}

.header a {
    color: #fff !important;
    font-weight:bold;
}

.header a:hover {
    color: #999999 !important; 
    cursor: pointer;
}

.flc-capture .fl-col-mixed .fl-col-flex {
    margin-left:270px;
}

.fl-container-progress > .ui-dialog-titlebar {
    display: none;
}

.flc-capture-progress-content {
    position: absolute;
    top: 50%;
    margin-top: -0.9em;
    margin-left: 0.8em;
}

.fl-capture-message-success {
    background-color: #c9eac0;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 1.2em;
    display: none;
    background-image: url(./images/checkmark.png);
    background-repeat: no-repeat;
    background-position: 30% 50%;
}


.fl-capture-message-error {
    background-color: #f2ef98;
    width: 100%;
    padding-top: 2em;
	padding-bottom: 2em;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 1.2em;
    display: none;
    background-image: url(./images/info.png);
    background-repeat: no-repeat;
    background-position: 30% 50%;
}

.fl-theme-coal h1 {
    margin-left: 2em;
    border-bottom: none;
}

.fl-theme-coal .fl-grid {
    border: none;
    padding: 5px;
    height: 610px;
    overflow: auto;
    background-color: #fff;

}

.fl-theme-coal .fl-grid li {
    background-color:#fff;
}

.ui-state-disabled span {
    cursor: default;
}

.fl-theme-coal .flc-capture-thumbItem {
    width: 200px;
    height: 175px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.flc-capture-button-delete {
    margin-right: 3px;
    margin-top: 100px;
    padding-right: 20px;
    background-image: url(./images/remove.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 100% 0;
}

.flc-capture-button-delete span {
    color: #fff;
}

.fl-reorderer-movable-default .flc-capture-button-delete {
    text-align:right;
    display: none;
}

.fl-theme-coal .fl-reorderer-movable-selected {
    outline: 5px solid #6dacc6;
}

.flc-capture-label-index {
    display: block;
    float: left;
    text-align: left;
    padding-left: 5px;
}

.flc-capture-label-item {
    display: block;
    color: #fff;
    background-color:#717171;
    height: 16px;
    text-align: right;
    padding-right: 5px;
}

.fl-capture-element-hidden {
    display: none;
}

.fl-theme-coal .fl-col-fixed {
    width: 232px;
}

.fl-theme-coal .fl-reorderer-dropMarker {
    width: 200px;
    height: 2px;
}

.flc-capture-image-preview {
    margin-top: 5px;
    height: 613px;
}


.fl-capture-buttons-footer {
    text-align:center;
    padding-bottom: 10px;
}

.flc-capture button.flc-capture-button-takePicture {
    color: #000;
    width: 200px;
    font-size: 1.8em;
    height: 64px;
    border-color: #2A3990;
    border-width: 1px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #6e9f62;
    border-color: #006838;
    background-image: url(./images/camera.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    -moz-border-radius: 10px;
}

button.flc-capture-button-export {
    color: #000;
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: #2A3990;
    border-width: 1px;
    cursor: pointer;
    margin-top: 5px;
    background-color: #cfcfcf;
    border-color: #006838;
    -moz-border-radius: 6px;
}

.fl-capture-placeholder {
    background: #fff;
    border:1;
    border-color: #778899;
    border-style:dotted;
}

.fl-capture-placeholder-thumbnail {
    width:90px;
    height: 145px;
    margin-left:2px;
    margin-right:2px;
    margin-top:4px;
}



/*Override default style */
.fl-theme-coal .ui-dialog {
    background:#fff;
}

/*Override default style */
.fl-theme-coal .ui-dialog .ui-dialog-buttonpane {
    background:#fff;
}

