.fl-container-progress > .ui-dialog-titlebar {
    display: none;
}

.flc-capture-progress-message {
    position: absolute;
    top: 50%;
    margin-top: -0.9em;
    margin-left: 0.8em;
}

.flc-capture-message-confirm {
    background-color: #bbfabb;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 1.2em;
    display: none;
}

.fl-theme-coal h1 {
    margin-left: 2em;
    border-bottom: none;
}

.fl-theme-coal .fl-grid {
    border: none;
    padding: 5px;
    height: 650px;
    overflow: auto;
}

.ui-state-disabled span {
    cursor: default;
}

/* TODO Improve styling */
.fl-theme-coal .flc-capture-thumbItem {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.fl-reorderer-movable-default .flc-capture-button-delete {
    display: none;
}

.fl-theme-coal .fl-reorderer-movable-selected {
    border-width: 2px !important;
    background-color: lightskyblue !important;
}

.flc-capture-label-index {
    display: block;
    float: left;
    text-align: left;
    padding-left: 5px;
}

.flc-capture-label-item {
    display: block;
    background-color: yellow;
    height: 16px;
    text-align: right;
    padding-right: 5px;
}

.fl-capture-thumbItem-fixed .flc-capture-label-item {
    background-color: white;
}

.fl-capture-thumbItem-fixed .flc-capture-label-unfixed,
.fl-capture-element-hidden {
    display: none;
}

.fl-theme-coal .fl-col-fixed {
    width: 232px;
}

.fl-theme-coal .fl-reorderer-dropMarker {
    width: 200px;
    height: 2px;
}

.flc-capture-image-preview {
    margin-top: 5px;
    height: 613px;
}

.flc-capture-button-delete,
.flc-capture-button-takePicture  {
    margin-left: 33%;
}

.flc-capture-message-noImage {
    font-size: large;
    position: absolute;
    top: 42%;
    left: 20%;
}
