.ds-left-right-calibration {
width: 680px;
}


.ds-page {
width:300px;
height:300px;
background-color:#fff;
text-align:center;
border:2px dotted #6dacc6;
margin-top:50px;
}

.ds-page h2 {
margin-top: -50px;
}

.ds-button-swap {
position: relative;
display:inline;
width:50px;
top:170px;
left:20px;
background-image:url("./images/swap.png");
background-repeat: no-repeat;
background-position: center top;
height:29px;
padding-top:31px;
text-decoration:none;
text-align:center;
cursor: pointer;
}

.ds-button-swap a {
text-decoration:none;
}

.ds-button-rotate-left {
float:left;
font-size:0.7em;
margin-left:3px;
margin-top:3px;
}


.ds-button-rotate-right {
float:right;
font-size:0.7em;
margin-right:3px;
margin-top:3px;
}

.ds-calibrationMessage-done {
    background:url("images/cameraMessage_go_15x15.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-right: 23px;
    padding-top:20px;
}


h1 {
text-align:center;
}

.ds-recapture {
position:relative;
text-align:center;
top:265px;
}

ds-recapture a{
text-decoration:none;
}
