body {
	background-color: #F6F7F8;
	font-weight: bold;
	text-align: center;
}

a {
	color: #39B54A;
}

.ds-cameraMessage-progress {
    display: none;
}

.ds-cameraMessage-showProgress .ds-cameraMessage-progress {
    display: block;
}

.ds-cameraMessage-showProgress .ds-cameraMessage-messageContainer {
    display: none;
}
