.ds-shared-decapod {
    font-family: 'Droid Sans', arial, serif;
    background-color: #FFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    min-width: 360px;
}

.ds-shared-decapod @font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans'), url('../fonts/DroidSans-Bold.ttf') format('truetype');
}

.ds-shared-decapod @font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), url('../fonts/DroidSans.ttf') format('truetype');
}

/* NAVIGATION BAR */

.ds-shared-navigationBar {
    display: table;
    background: #958D76;
    width: 100%;
    height: 42px;
    text-align: left;
    color: #fff;
}

ul.ds-shared-navigationBar-flatList {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.ds-shared-navigationBar-flatList li {
    display: inline;
    list-style-type: none;
}

.ds-shared-navigationBar-flatList a {
    color: #fff;
    position: relative;
	padding: 0 0 0 10px;
	font-size:12pt;
}

/**
Create a chevron by using two triangles overlaid each other.
Triangles are made by taking advantage of border's bevel effect.
**/
.ds-shared-navigationBar-flatList a:before,
.ds-shared-navigationBar-flatList a:after {
    content: "";
	position: absolute;
	width: 0;
	height: 0;
}

.ds-shared-navigationBar-flatList a:before {
	border-top: 21px solid transparent;
	border-bottom: 21px solid transparent;
	border-left: 12px solid white;
	
    left: 125px;
    top: -14px;
}

.ds-shared-navigationBar-flatList a:after {
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-left: 10px solid #958D76;
	
	left: 125px;
	top: -12px;
}


a.ds-shared-navigationBar-currentBreadcrumb {
    font-weight: bold;
    text-decoration: none;
}

/**
 FOOTER 
 */
 
 .ds-shared-decapod footer {
    background: #958D76;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display:block;
 }
 
/**
 MAIN CONTENT AREA 
 */
 
.ds-shared-mainPane {
    background-color: #eff1f4;
    /* background-image: url("../images/background-grain.png"); TODO: remove image file before Decapod 0.5 release.*/
    position: absolute;
    bottom: 30px; /*position respect to footer height */
    top: 42px; /*position respect to navigation bar */
    left: 0px;
    right 0px;
}

.ds-shared-mainPane h1 {
    font-size: 24px;
    font-weight: bold;
    color: #3a3a3a;
    margin: 0px;
    padding-top:10px;
}

.ds-shared-mainPane header {
    margin-bottom: 15px;
    padding-left: 30px;
}

.ds-shared-indent1 {
    margin-left: 60px;
}

.ds-shared-indent2 {
    margin-left: 80px;
}

/**
 UI COMPONENTS
 */

.ds-shared-disabled-button {
    background-color: #F1F2F2;
    border: 2px solid #fff;
    color: #A7A9AC;
}

.ds-shared-disabled-text {
    color: #A7A9AC;    
}

.ds-shared-grey-button {
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    border: 1px solid #808285;
}

.ds-shared-green-button {
    padding: 4px;
    background-color: #009444;
    box-shadow: 3px 3px 5px -1px #808285;
    border: none;
    color: #fff;
}

.ds-shared-spinner {
    width: 50px;
    height: 50px;
    
}

.ds-shared-spinner div{
	width: 4px;
	height: 4px;
	background: #2BB673;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.ds-shared-spinner-dot-1 {
    -moz-transform: translate(6px, 0px);
}

.ds-shared-spinner-dot-2 {
    -moz-transform: translate(10px, 4px);
}

.ds-shared-spinner-dot-3 {
    -moz-transform: translate(6px, 6px);
}

.ds-shared-spinner-dot-4 {
    -moz-transform: translate(8px, 8px);
}

.ds-shared-spinner-dot-5 {
    -moz-transform: translate(6px, 12px);
}

.ds-shared-spinner-dot-6 {
    -moz-transform: translate(4px, 6px);
}

.ds-shared-spinner-dot-7 {
    -moz-transform: translate(0px, 6px);
}

.ds-shared-spinner-dot-8 {
    -moz-transform: translate(4px, 4px);
}