.ds-calibrator-main {
    width:27em;
    margin-left: auto;
    margin-right: auto;
}

.ds-calibrator-dewarpControls {
    margin-top: 1.25em;
}

.ds-calibrator-dewarpControls .ds-shared-grey-button {
    height: 4.7em;
    background: url("../../core/styles/images/export-22x22.png") 100px center no-repeat, -moz-linear-gradient(top,  #ffffff,  #ececec);
}

.ds-calibrator-dewarpControls .ds-shared-grey-button[disabled],
.ds-calibrator-dewarpControls .ds-shared-grey-button[disabled]:hover {
    background: url("../../core/styles/images/export-22x22-grey.png") 100px center no-repeat;
}

.ds-calibrator-dewarpControls .ds-shared-grey-button:hover {
    background: url("../../core/styles/images/export-22x22.png") 100px center no-repeat,  #ffffff;
}

