<div class="ds-shared-indent2">
    <h3 class="dc-exportFormatGroup-name">Group</h3>
    <div class="dc-exportFormatGroup-formats">
        <div class="dc-exportFormatGroup-format"></div>

<!--
        <div class="ds-shared-exportDetails ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active ui-accordion-disabled ui-state-disabled" style="display: block;" role="tabpanel">
            <div id="fluid-id-1lrcw0oe-397" class="ds-pdfExporter-pdfExportOptions">
                <div class="ds-exporter-exportControls">
                    <div id="status" class="ds-exporter-status-error">
                        <div class="ds-shared-status-title">Error creating export</div>
                        <div class="ds-shared-status-description">
                            See Help for more details.
                        </div>
                        <div class="ds-exportControls-complete-links">
                            <a href="" class="ds-shared-helpButton">Help</a>
                            <a href="" class="ds-shared-restartButton">Restart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
    </div>
</div>
