<span class="dc-exportControls-trigger"></span>
<div class="dc-exportControls-progress ds-exportControls-progress-text"></div>
<div class="dc-exportControls-complete ds-exportControls-complete-links"></div>
<div class="dc-exportControls-exportError">
    <div class="dc-status-name ds-shared-status-title"></div>
    <div class="dc-status-description ds-shared-status-description"></div>
</div>
<div class="dc-exportControls-fileError">
    <div class="dc-status-name ds-shared-status-title"></div>
    <div class="dc-status-description ds-shared-status-description"></div>
</div>
