<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<title>Thumbnail browser</title>

		<!-- TODO Use a custom CSS style instead of the iPhone one. -->
        <link type="text/css" rel="stylesheet" href="../../../infusion/src/webapp/framework/fss/css/fss-mobile-iphone-layout.css" />

		<script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
		<script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
		<script type="text/javascript" src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
		
        <script type="text/javascript" src="../js/ThumbnailBrowser.js"></script>
	</head>
    
	<body class="fl-theme-iphone">
        
        <div class="thumbBrowser">
            <ul class="flc-thumbBrowser-listGroup">
                <li class="flc-thumbBrowser-items">
                    <a class="flc-thumbBrowser-link">
                    	<span class="flc-thumbBrowser-label">Unfixed</span>
                        <img class="flc-thumbBrowser-image"/>                        
                    </a>
					<a class="flc-thumbBrowser-deleteButton">Delete</a>
                </li>
            </ul>
        </div>
        
		<!-- TODO Use real thumbnails instead of large images. -->
        <script type="text/javascript">
            var thumbs = [
                            {
                                target: "#",
                                image: "../../server/testData/Image1.jpg",
								deleteTarget: "#",
                            },
							{
                                target: "#",
                                image: "../../server/testData/Image2.jpg",
								deleteTarget: "#",
                            },
							{
                                target: "#",
                                image: "../../server/testData/Image3.jpg",
								deleteTarget: "#",
                            },
							{
                                target: "#",
                                image: "../../server/testData/Image4.jpg",
								deleteTarget: "#",
                            },
                        ];
            
            fluid.thumbBrowser(".thumbBrowser", {thumbs: thumbs});
        </script>

	</body>
</html>
