<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Thumbnail Browser</title>
        
        <!-- Required JavaScript modules for the Thumbnails Browser. -->
		<!-- jQuery -->
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/ui.core.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/ui.draggable.js"></script>
		<script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/plugins/delegate/js/jquery.delegate.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
		
		<!-- Fluid -->
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
		
		<!-- Reorderer -->
        <script type="text/javascript" src="../../../infusion/src/webapp/components/reorderer/js/GeometricManager.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/components/reorderer/js/Reorderer.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/components/reorderer/js/ImageReorderer.js"></script>

		<!-- Renderer -->
		<script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
		<script type="text/javascript" src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
		
		<!-- Decapod Components -->
        <script type="text/javascript" src="../js/ThumbnailBrowser.js"></script>
	</head>
    
	<!-- TODO Remove BR tags when implementing styling -->
	<body>
		<form action="#" id="thumb-browser-form" class="flc-thumbBrowser">
			<div class="flc-thumbBrowser-container-thumbs">
				<a class="flc-thumbBrowser-link">
					<span class="flc-thumbBrowser-label">Unfixed</span><br />
                    <img class="flc-thumbBrowser-image"><br />
                </a>
				<a class="flc-thumbBrowser-button-delete">Delete</a>					
			</div>
		</form>
		
		<!-- Staticly loaded testing images -->
        <script type="text/javascript">
            var thumbs = [
                            {
                                target: "../../server/testData/Image1.jpg",
                                image: "../../server/testData/Image1-thumb.jpg",
                            },
							{
                                target: "../../server/testData/Image2.jpg",
                                image: "../../server/testData/Image2-thumb.jpg",
                            },
							{
                                target: "../../server/testData/Image3.jpg",
                                image: "../../server/testData/Image3-thumb.jpg",
                            },
							{
                                target: "../../server/testData/Image4.jpg",
                                image: "../../server/testData/Image4-thumb.jpg",
                            }
                        ];
            
            fluid.thumbBrowser(".flc-thumbBrowser", {thumbs: thumbs});
        </script>

	</body>
</html>
