<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Decapod Capture</title>
        
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-reset.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-theme-coal.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/lib/jquery/ui/css/fl-theme-coal/coal.css" />
        <link rel="stylesheet" type="text/css" href="../css/Calibration.css" />
        
        <!-- Required JavaScript modules for the Capture component. -->
        <!-- jQuery -->
                
        <!-- Fluid -->
        
        <!-- Reorderer -->
        
        <!-- Renderer -->
        
        <!-- Decapod components -->
        
    </head>
    
    <body class="fl-theme-coal">
    
    </body>
</html>
    