<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../css/ImageRotater.css" />
        <link rel="stylesheet" type="text/css" href="../css/CameraSetup.css" />
                
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/jquery.ui.mouse.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/jquery.ui.draggable.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/json/js/json2.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/components/reorderer/js/ReordererDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/components/reorderer/js/GeometricManager.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/components/reorderer/js/Reorderer.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodUtils.js"></script>
        <script type="text/javascript" src="../js/ImageRotater.js"></script>
        <script type="text/javascript" src="../js/CameraSetup.js"></script>
        
        <title>Camera Setup</title>
    </head>
    
    <body>
        <div class="dc-cameraSetup">
            <h2 class="dc-cameraSetup-pageHeader">Page Header</h2>
            
            <div class="dc-cameraSetup-imageColumn">
                <h3 class="dc-cameraSetup-leftImageHeader">Left</h3>
                <p class="dc-cameraSetup-rightCameraID">Right Camera</p>
                <div class="dc-cameraSetup-leftCameraRotater dc-cameraSetup-module">
                    <a href="#_" class="dc-imageRotater-ccw">ccw</a>
                    <a href="#_" class="dc-imageRotater-cw">cw</a>
                    <img src="" class="dc-imageRotater-image" />
                    <a href="#_" class="dc-imageRotater-capture">left-capture</a>
                </div>
            </div>
            
            <a href="#_" class="dc-cameraSetup-swapButton">swap</a>
            
            <div class="dc-cameraSetup-imageColumn">
                <h3 class="dc-cameraSetup-rightImageHeader">Right</h3>
                <p class="dc-cameraSetup-leftCameraID">Left Camera</p>
                <div class="dc-cameraSetup-rightCameraRotater dc-cameraSetup-module">
                    <a href="#_" class="dc-imageRotater-ccw">ccw</a>
                    <a href="#_" class="dc-imageRotater-cw">cw</a>
                    <img src="" class="dc-imageRotater-image" />
                    <a href="#_" class="dc-imageRotater-capture">right-capture</a>
                </div>
            </div>
            
            <a href="#_" class="dc-cameraSetup-submitButton">Done</a>
        </div>
        
        <script type="text/javascript"> 
            decapod.cameraSetup(".dc-cameraSetup");
        </script>        
    </body>
</html>
