<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Camera Message</title>
        
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-reset.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-layout.css" />

        <link rel="stylesheet" type="text/css" href="../css/CameraMessage.css" />
        
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
		<script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/json/js/json2.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodUtils.js"></script>
		<script type="text/javascript" src="../js/ProgressMessage.js"></script>
        <script type="text/javascript" src="../js/SupportedCameras.js"></script>
        <script type="text/javascript" src="../js/CameraMessage.js"></script>
    </head>
	<body>
	    <!-- NAVIGATION BAR -->
	    
		<div class="ds-navigationBar">
			<ul class="ds-navigationBar-flatList">
				<li><img src="images/navigationBar_home.png"><a href="#">Book Management</a></li>
				<img class="ds-navigationBar-chevron" src="images/navigationBar_chevron.png">
				<li><img src="images/navigationBar_calibration.png"><a class="ds-navigationBar-hereElement" href="#">Camera Calibration</a></li>
			</ul>
        </div>
		
		<!-- MAIN MESSAGE AREA -->
		
		<div class="dc-cameraMessage ds-cameraMessage">
		    <div class="dc-cameraMessage-progress ds-cameraMessage-progress">
                <p class="dc-progressMessage-message">Profiling</p>
                <p class="dc-progressMessage-courtesyMessage">Please wait</p>
                <img src=""> <!-- insert path to progress indicator -->
                <a href="#_" class="dc-progressMessage-cancel">Cancel</a>
                <p class="dc-progressMessage-cancelInfo">(will cancel)</p>
            </div>
            <div class="dc-cameraMessage-messageContainer ds-cameraMessage-messageContainer">
                <div class="ds-cameraMessage-errorMessage">
                    <div class="dc-cameraMessage-message">Error.</div>
                    <span class="dc-cameraMessage-supportedCamerasMessage">Decapod requires two matching, </span>
                    <a href="#_" class="dc-cameraMessage-supportedCamerasButton">supported cameras</a>.
                </div>
                
                <div class="ds-cameraMessage-errorOptions">
                    <div class="ds-cameraMessage-retryAndContinue"><a href="#_" class="dc-cameraMessage-retryAndContinue">I've connected the cameras, Try again</a></div>
                    <div class="ds-cameraMessage-skipLink"><a href="#_" class="dc-cameraMessage-skipLink">Skip camera setup</a></div>
                    <div class="dc-cameraMessage-warning ds-cameraMessage-errorOptions-warning">(You won't be able to capture)</div>
                </div>
            </div>
            <div class="dc-cameraMessage-supportedCameras ds-cameraMessage-supportedCameras">
                <h2 class="dc-supportedCameras-componentHeader">Cameras</h2>
                <a href="#_" class="dc-supportedCameras-closeButton">x</a>
                <div class="dc-supportedCameras-manufacturer">
                    <h3 class="dc-supportedCameras-manufacturerName">Brand</h3>
                    <ul class="dc-supportedCameras-devices">
                        <li class="dc-supportedCameras-deviceLabel">Model</li>
                    </ul>
                </div>
            </div>
        </div>
		<script>
			decapod.cameraMessage(".dc-cameraMessage");
		</script>
	</body>
</html>