<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <link rel="stylesheet" type="text/css" href="../../../infusion/framework/fss/css/fss-reset.css" />
        <link rel="stylesheet" type="text/css" href="../../../shared/css/Decapod.css" />
        <link rel="stylesheet" type="text/css" href="../css/ImageRotator.css" />

        <script type="text/javascript" src="../../../infusion/MyInfusion.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodUtils.js"></script>
        <script type="text/javascript" src="../js/ImageRotator.js"></script>
        
        <title>Image Rotater</title>
    </head>
    
    <body>
        <div class="dc-imageRotator">
            <a href="#_" class="dc-imageRotator-ccw">ccw</a>
            <a href="#_" class="dc-imageRotator-cw">cw</a>
            <img src="" class="dc-imageRotator-image" />
            <a href="#_" class="dc-imageRotator-capture">capture</a>
        </div>
        
        <script type="text/javascript"> 
            decapod.imageRotator(".dc-imageRotator");
        </script>        
    </body>
</html>
