<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../css/ProgressMessage.css" />
                
        <script type="text/javascript" src="../../../lib/infusion/MyInfusion.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodUtils.js"></script>
        <script type="text/javascript" src="../js/ProgressMessage.js"></script>
        
        <title>Progress Message</title>
    </head>
    
    <body>
        <section class="ds-decapod">
            <div class="dc-progressMessage">
                <p class="dc-progressMessage-message">Profiling</p>
                <p class="dc-progressMessage-courtesyMessage">Please wait</p>
                <img src=""> <!-- insert path to progress indicator -->
                <a href="../../bookManagement/html/bookManagement.html" class="dc-progressMessage-cancel">Cancel</a>
                <p class="dc-progressMessage-cancelInfo">(will cancel)</p>
            </div>
        </section>
        
        <script type="text/javascript"> 
            decapod.progressMessage(".dc-progressMessage");
        </script>        
    </body>
</html>
