<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../css/ProgressMessage.css" />
                
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/ui/js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../js/ProgressMessage.js"></script>
        
        <title>Progress Message</title>
    </head>
    
    <body>
        <div class="dc-progressMessage">
            <p class="dc-progressMessage-message">Profiling</p>
            <p class="dc-progressMessage-courtesyMessage">Please wait</p>
            <img src=""> <!-- insert path to progress indicator -->
            <a href="#_" clas="dc-progressMessage-cancel">Cancel</a>
            <p class="dc-progressMessage-cancelInfo">(will cancel)</p>
        </div>
        
        <script type="text/javascript"> 
            decapod.progressMessage(".dc-progressMessage");
        </script>        
    </body>
</html>
