<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../css/SupportedCameras.css" />
                
        <script type="text/javascript" src="../../../lib/infusion/MyInfusion.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodUtils.js"></script>
        <script type="text/javascript" src="../js/SupportedCameras.js"></script>
        
        <title>Supported Cameras</title>
    </head>
    
    <body>
        <section class="ds-decapod">
            <div class="dc-supportedCameras">
                <h2 class="dc-supportedCameras-componentHeader">Cameras</h2>
                <a href="#_" class="dc-supportedCameras-closeButton">x</a>
                <div class="dc-supportedCameras-manufacturer">
                    <h3 class="dc-supportedCameras-manufacturerName">Brand</h3>
                    <ul class="dc-supportedCameras-devices">
                        <li class="dc-supportedCameras-deviceLabel">Model</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <script type="text/javascript">
            decapod.supportedCameras(".dc-supportedCameras");
        </script>        
    </body>
</html>
