<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Camera Message</title>
        
		<link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-layout.css" />
        <link rel="stylesheet" type="text/css" href="../css/CameraMessage.css" />
        
        <script src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
		<script src="../../../infusion/src/webapp/lib/jquery/ui/js/jquery.ui.core.js"></script>
        <script src="../../../infusion/src/webapp/lib/json/js/json2.js"></script>
        <script src="../../../infusion/src/webapp/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script src="../../../infusion/src/webapp/framework/core/js/Fluid.js"></script>
        <script src="../../../infusion/src/webapp/framework/core/js/FluidDOMUtilities.js"></script>
        <script src="../../../infusion/src/webapp/framework/renderer/js/fluidParser.js"></script>
        <script src="../../../infusion/src/webapp/framework/renderer/js/fluidRenderer.js"></script>
        <script src="../../../infusion/src/webapp/lib/fastXmlPull/js/fastXmlPull.js"></script>
        <script src="../../../shared/js/decapodUtils.js"></script>
		<script src="../js/CameraMessage.js"></script>
    </head>
	<body>
		<div class="dc-cameraMessage">
            <p class="dc-cameraMessage-message">Error</p>
            <p>
                <span class="dc-cameraMessage-requirement">Decapod requires two matching, </span> 
                <a href="#_" class="dc-cameraMessage-requirementLink">supported cameras</a>
            </p>
            <a href="#_" class="dc-cameraMessage-retryLink">I've connected the camers, Try again</a>
            <a href="#_" class="dc-cameraMessage-skipLink">Skip camera setup</a>
            <p class="dc-cameraMessage-warning">(You won't be able to capture)</p>
        </div>
		<script>
			decapod.cameraMessage(".dc-cameraMessage");
		</script>
	</body>
</html>