<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Book Management</title>
        
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-reset.css" />
        <link rel="stylesheet" type="text/css" href="../../../infusion/src/webapp/framework/fss/css/fss-layout.css" />

        <link rel="stylesheet" type="text/css" href="../../../shared/css/Decapod.css" />
        <link rel="stylesheet" type="text/css" href="../css/bookManagement.css" />
        
        <script type="text/javascript" src="../../../infusion/src/webapp/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodUtils.js"></script>
    </head>
    <body>
        <!-- NAVIGATION BAR -->

        <div class="ds-navigationBar">
            <ul class="ds-navigationBar-flatList">
                <li><img alt="" src="../../../shared/images/navigationBar_home.png"><a class="dc-navigationBar-bookManagement ds-navigationBar-hereElement" href="#">Book Management</a></li>
            </ul>
        </div>
        
        <!-- MAIN AREA -->
        
        <div class="ds-mainArea">
            <div class="ds-messageArea">
                <a class="dc-bookManagement-cameraMessage ds-circle" href="#_">
                    <img alt="" src="images/bookManagement_bookIcon_60x90.png">
                    <p>Capture a new book</p>
                </a>
            </div>
        </div>
    </body>
</html>
