<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Book Management</title>
        
        <link rel="stylesheet" type="text/css" href="../../../lib/infusion/framework/fss/css/fss-reset.css" />
        <link rel="stylesheet" type="text/css" href="../../../lib/infusion/framework/fss/css/fss-layout.css" />

        <link rel="stylesheet" type="text/css" href="../../../shared/css/Decapod.css" />
        <link rel="stylesheet" type="text/css" href="../css/bookManagement.css" />
        
        <script type="text/javascript" src="../../../lib/infusion/MyInfusion.js"></script>
        <script type="text/javascript" src="../../../shared/js/decapodUtils.js"></script>
    </head>
    <body>
    
        <section class="ds-decapod">
        
            <!-- NAVIGATION BAR -->

            <div class="ds-navigationBar">
                <ul class="ds-navigationBar-flatList">
                    <li><img alt="" src="../../../shared/images/navigationBar_home.png"><a class="ds-navigationBar-hereElement" href=""../../bookManagement/html/bookManagement.html"">Book Management</a></li>
                </ul>
            </div>
            
            <!-- MAIN AREA -->
            
            <div class="ds-mainArea">
                <div class="ds-messageArea">
                    <a class="ds-circle" href="../../calibration/html/cameraMessage.html">
                        <img alt="" src="images/bookManagement_bookIcon_60x90.png">
                        <p>Capture a new book</p>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>
