
.ds-import-status img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position:absolute;
    left:20px;
}

.ds-import-buttons label {
    font-weight:bold;
}

.ds-import-buttons select {
    margin-bottom: 10px;
}